<section class="p-b-0 p-t-30" style="margin-bottom: 30px;">
    <div id="mainMenu" class="menu-center">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/admins/problems">Add problems</a></li>
                    <li><a href="/admins/testcases">Add testcases</a></li>
                    <li><a href="/problems">Problems</a></li>

                </ul>
            </nav>
        </div>
    </div>

</section>
<hr/>

